.btn {
	background: #F5170E;
	color: #fff;
	border: 1px solid #F5170E;
	font-size: 14px;
	border-radius: 27px;
	padding: 17px 39px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.35s;
}

.btn:focus {
	outline: none;
}

.btn:hover {
	background: #fff;
	color:#F5170E;
}

.btn--size--ginger {
	background: #F5170E;
	font-size: 14px;
	border-radius: 27px;
	padding: 17px 39px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.btn--size--small {
	padding: 16px 29px;
}

.service__btn {
	display: inline;
}

.btn--color--black {
	background: #2B2B2B;
	border: 1px solid #2B2B2B;
}

.btn--color--black:hover {
	color:#2B2B2B;
}

.form__btns {
	display: flex;
	justify-content: flex-end;
}

.form__btn {
	margin-right: 18px;
}

.form__btn:last-child {
	margin-right: 0;
}

.btn--color--ginger {
	padding: 17px 55px;
}
