.dropdown {
	position: relative;
	display: inline-flex;
	padding-bottom: 8px;
}

.dropdown:hover .dropdown__menu {
	right: 0;
	opacity: 1;
}


.dropdown__menu {
	position: absolute;
	width: 157px;
	background: rgb(237, 237, 237, 0.8);
	border-radius: 5px;
	padding: 16px;
	top: 100%;
	right: -9999px;
	opacity: 0;
	transition: opacity .4s;

}

.dropdown__menu::before {
	content: "";
	display: block;
	height: 30px;
	left: 0;
	right: 0;
	top: -29px;
	position: absolute;
}

.dropdown__menu::after {
	content: "";
	position: absolute;
	right: 44px;
	top: -9px;
	border: 9px solid transparent;
	border-bottom-color: rgb(237, 237, 237, 0.8);
	border-top-width: 0px;
}

.dropdown__item {
	font-size: 13px;
	line-height: 21px;
	color: #1E1F20;

}

.dropdown__item--bold{
	font-weight: bold;
}